{% extends 'base.html' %}
{% block title %}Boggle Game{% endblock %}

{% block content %}

<h1>Boggle Game</h1>
<!-- show board -->
<section id="table">
<table>
    {% for y in board %}
    <tr>
        {% for x in y %}
        <td>{{x}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</section>
<!-- Try words -->
<form method="POST" id="submitWords">
        <label>Try your words</label>
        <input class="guessword" name="word" placeholder="type a word" autofocus>
        <button>Submit</button>
</form>

<!-- msg to alert -->
<h3 id="msg"></h3>

<!-- Score -->
<h2>High Score: {{number}} in {{times}} plays</h2>

<!-- Time -->
<h2 id = "score">Score: {{score}}</h2>
<h2 id = "secs"></h2>

<!-- result -->
<div>
    <ul id="words">

    </ul>
</div>
{% endblock %}